

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 100px 40px 100px;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    display: flex;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.subheader {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 270px;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.maintitle {
    font-weight:bolder;
    font-size: 48px;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 5px 20px;
    border: 2px solid #3882f6;
    border-radius: 5px;
    color: #f9faf8
}

.image1 img,
.boxes img {
    border-radius: 30px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 200px 40px 200px;
    gap: 50px;
}

.boxes {
    display: flex;
    text-align: center;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box.text {
    padding: 10px;
    color: #1f2937;
    font-size: 18px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.name {
    align-self: flex-end;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px 100px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    padding: 30px 70px;
    border-radius: 20px;
    background-color: #3882f6;
    color:#f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
}
.line {
    font-size: 18px;
    font-weight: bold;
}

.bottom-button {
    border: 2px solid #f9faf8;
    border-radius: 20px;
    padding: 5px 15px;
}